AI-Invoice-Processing-Workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1sX0ic20TH6Q87l3HyJFOlN9oxkA3QneL",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1sX0ic20TH6Q87l3HyJFOlN9oxkA3QneL"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        32
      ],
      "id": "ab3643d1-4ec0-436c-9bc9-5384b03927cb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qI6Ml8y8HDu4bpVb",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        32
      ],
      "id": "cd0268e6-42e8-42b1-be76-8c3a34ab29fb",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qI6Ml8y8HDu4bpVb",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        16,
        32
      ],
      "id": "e936760a-2dfd-4234-bc64-7fc3198bdc8b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        816,
        16
      ],
      "id": "979dacd0-1d58-48fd-80e9-fa9f9bf3743d",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAeU634u1yQlHELYHfAhHSLKEaMnczkres"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract the following fields from this invoice and return ONLY valid JSON.\\n\\nFields:\\n- vendor_name\\n- invoice_number\\n- invoice_date\\n- due_date\\n- currency\\n- subtotal\\n- tax\\n- total_amount\\n- payment_terms\\n\\nInvoice Text:\\n\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text) }}\n    }\n  ],\n  \"temperature\": 0.1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        32
      ],
      "id": "b81ce813-dbb9-4c84-b9bc-4b443cdb64f6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oNg8S2LSkfOMvSSrsvFvU9N2GCP8lpUPl3kz5eneJCk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNg8S2LSkfOMvSSrsvFvU9N2GCP8lpUPl3kz5eneJCk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).vendor_name }}",
            "Invoice No": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).invoice_number }}",
            "Invoice Date": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).invoice_date }}",
            "Due Date": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).due_date }}",
            "Currency": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).currency }}",
            "Subtotal": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).subtotal }}",
            "Tax": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).tax }}",
            "Total": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).total_amount }}",
            "Status": "={{ JSON.parse($json.choices[0].message.content.replace(/```json|```/g, '').trim()).payment_terms }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice No",
              "displayName": "Invoice No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        32
      ],
      "id": "fffe1fca-5c90-4e3c-a33d-0de29e859050",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nLHKlRaQhoPMM5XY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8332427-dd78-470d-b5fc-c5983dba9ae0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acc927aad747b18ada525495a3a6afd4245751a432872524476b28754c2cf991"
  },
  "nodeGroups": [],
  "id": "KtsSeJni59y0IgEu",
  "tags": []
}
